.intro-section {
  text-align: left;
  
  @media #{$medium-and-down} {
    .vertical {
      align-items: center;
      text-align: center;
    }
  }

  .subtitle {
    margin-top: 1em;
  }
  .google-play-btn {
    margin-top: 5em;
  }
}

.organize-section {
  .phone {
    margin-left: $star-spacing;
    margin-right: $star-spacing;
  }
}