section {
  width: 100%;
  min-height: 100vh;

  margin: 0 auto;

  padding-top: $section-vertical-padding  + $navbar-height;
  padding-bottom: $section-vertical-padding;

  @media #{$medium-and-up} {
    width: 90%;
  }

  @media #{$large-and-up} {
    width: 80%;
  }
}
