.tablature-strings {
  height: 100%;

  padding-top: $phone-top-bottom-height;
  padding-bottom: $phone-top-bottom-height;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .string {
    width: $tablature-string-width;
    height: $tablature-string-height;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+0,424242+100&0+0,1+50 */
    background: -moz-linear-gradient(left, rgba(66,66,66,0) 0%, rgba(66,66,66,1) 50%, rgba(66,66,66,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(66,66,66,0) 0%,rgba(66,66,66,1) 50%,rgba(66,66,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(66,66,66,0) 0%,rgba(66,66,66,1) 50%,rgba(66,66,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00424242', endColorstr='#424242',GradientType=1 ); /* IE6-9 */
  }
}