$bg-color: #212121;
$secondary-color: #F44336;
$text-color: white;

// Section
$section-vertical-padding: 1em;

// Footer
$footer-vertical-margin: 3em;

// Navbar
// $navbar-height: 4em;

// Phone
$phone-color: #fcfcfc;
$phone-screen-width: 320px;
$phone-screen-height: 568px;
$phone-screen-border: 10px;
$phone-border-radius: 50px;
$phone-width: $phone-screen-width + 2 * $phone-screen-border;
$phone-top-bottom-height: $phone-screen-height / 10;

$small-phone-screen-width: 240px;
$small-phone-screen-height: 426px;
$small-phone-width: $small-phone-screen-width + 2 * $phone-screen-border;

// Tablature strings
$tablature-string-width: $phone-screen-width / 2;
$tablature-string-height: 3px;

// Page
// Sections
$star-spacing: 4em;

// Helpers
$logo-container-size: 130px;